/* ===========================
   Navbar
=========================== */

.nav-color {
    background: var(--color-bg-nav);
    box-shadow: 0 2px 12px rgba(0, 0, 0, .08);
}

.navbar-pad {
    padding: 0 1rem !important;
}

/* ===========================
   Logo
=========================== */

.logo {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.logo span {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-nav);
    font-family: "Courier New", monospace;
}

/* ===========================
   Navigation Links
=========================== */

.nav-link {
    color: var(--color-link) !important;
    font-weight: 500;
    position: relative;
    transition: all .25s ease;
}

.nav-link.active {
    color: var(--color-link-active);
    font-weight: 600;
}

/* Underline Animation */

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: .2rem;

    width: 0;
    height: 2px;

    background: var(--color-link-active);

    transition: width .3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}

/*mobile view*/
.mobile-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
}

.hamburger {
    cursor: pointer;
    color: var(--color-link);
    z-index: 101;
}

.mobile-nav-links {
    position: fixed;
    top: 4.5rem;
    left: 0;
    bottom: 0;
    width: fit-content;
    background: var(--color-bg-nav);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    margin: 0 0 0.1rem 0;
    list-style: none;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.mobile-nav-links.open {
    transform: translateX(0);
}

.mobile-nav-links a {
    color: var(--color-link);
    text-decoration: none;
    font-size: 1.2rem;
    transition: all .25s ease;
    position: relative;
}

.mobile-nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.2rem;
    width: 0;
    height: 2px;
    background: var(--color-link-active);
    transition: width .3s ease;
}

.mobile-nav-links a:hover::after,
.mobile-nav-links a.active::after {
    width: 100%;
}

.mobile-nav-links a.active {
    color: var(--color-link-active);
    font-weight: 600;
}
